<h1>Welcome to Crashbot - Your Source for Robot War Events</h1>
<ul id="links">
  <%= render @links %>
</ul>
<br>
<%= link_to "New Link", new_link_path, :class=> "btn btn-success", id: "add_link", remote: true %>


<!-- <div class="tasks" id="incomplete_tasks">
  <%= render @links %>
</div> -->
